*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #faf6d5;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin: 10px;
}

header {
    background-color: #fdf2a1;
    color: #313035;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    margin: 20px;
    padding: none;
    display: inline-block;
    font-weight: bold;
}

nav ul li a {
    color: #313035;
    font-size: 25px;
    text-decoration: none;
}

/*--about me--*/

.about-me h1 {
    text-align: center;
    font-size: 40px;
    color: #313035;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    text-decoration: none;
}

.container-column {
    display: flex;
    flex-direction: row-reverse;
}

.container-column p {
    background-color: #fdf2a1;
    margin: 180px 40px 0px 60px;
    padding: 20px;
    justify-content: center;
}

.container-column img {
    height: 450px;
    border-radius: 5px;
    margin: 0px 40px 0px 40px;
    box-shadow: 12px 12px 1px #fdf2a1;
}

.container {
    background-color: #fdf2a1;
    display: flex;
}

/*--projects--*/

.sub-header {
    text-align: center;
    color: #313035;
    margin-bottom: 30px;
    text-decoration: none;
}
#portfolio {
    padding: 20px;
    margin: 20px;
}

#row {
    display: flex;
    flex-direction: row;
    min-height: 200px;
}

.flex-box {
    border: 10px solid #fdf2a1;
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: underline;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
}

.footer h2 {
    display: center;
    border: 30px;
}


#hero {
    background-image: url("./Assets/project1.png");
    background-position: center;
}

#hero1 {
    background-image: url("./Assets/project2.jpg");
    background-position: center;
}

#hero2 {
    background-image: url("./Assets/project3.png");
    background-position: center;
}