*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
}
header {
    background-color: pink;
    color: black;
    width: 100%;
    padding: 10px 6% 10px 0;
    display: flex;
    justify-content: space-between;
}